$grid-gutter-width: 15px !default;


/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";



// Colors
$blue:                   #0544A4;
$lighter-blue:           lighten($blue, 40%);

h1{
  color: $lighter-blue;
}

.gborder{
  border-radius: 0;
  border-bottom: 2px solid lightgrey;
}

.art-color{
  background-color: white;
}

.backg{
  background: url("images/top-image.png") no-repeat content -10px;
  background-size: cover;
  position: relative;
  height: 340px;
}

.white{
  color: white;
  font-size: 42px;
}

.relative{
  position:relative;
}

.mzero{
  margin: 0 auto;
}

.textmiddle{
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.inline{
  display: inline-block;
}

.nopadding{
  padding: 0;
  width: 0;
}

.profiles{
  background-repeat: no-repeat;
  background-image: center
}

.bwhite{
  background-color: white;
}

.bwhite > img{
  padding: 12px;
}





.top-buttons{
  color: white;
}

body {
  background-image: url("../images/bg.jpg");
  position: relative;
}

body:before{
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
