$grid-gutter-width: 15px !default;


/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";



// Colors
$blue:                   #0544A4;
$lighter-blue:           lighten($blue, 40%);

h1{
  color: $lighter-blue;
}

.gborder{
  border-radius: 0;
  border-bottom: 2px solid lightgrey;
  // padding: 3px;
}

.gbordert{
  @extend .gborder;
  margin: 1px;
}

.bcolor{
  background-color: red;
}

.bleft{
  padding-right: 0;
}

.bmid{
  padding-left: 0;
  padding-right: 0;
}

.bright{
  padding-left: 0;
}

.art-color{
  background-color: white;
}

.btn-size-right {
    width: 59px;
    height: 59px;
    float: right;
    display: inline-flex;
    padding: 17px;
    font-size: 28px;
    margin: 4px
}




.white{
  color: white;
  font-size: 42px;
}

.relative{
  position:relative;
}

.mzero{
  margin: 0 auto;
}

.textmiddle{
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.inline{
  display: inline-block;
}

.nopadding{
  padding: 0;
  width: 0;
}

.backrep{
  // background-repeat: no-repeat;
  // background-image: center;
  background-size: cover;
}

.banner{
  @extend .backrep;
  height: 345px;
  position: relative;
  background: url("../images/top-image.png") no-repeat center -180px;
  border: 10px solid white;
}

.banner:before{
  background: url("../images/grid.png");
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .3;
}

.bump1{
  margin-top: 60px;
  margin-left: 10px;
}


.bwhite{
  background-color: white;
}

.bwhite > img{
  padding: 12px;
}


.theight{
  height: 464px;
}


.top-buttons{
  color: white;
}

body {
  background-image: url("../images/bg.jpg");
  position: relative;
}

body:before{
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
